<div class="click-closed"></div>
  <div class="box-collapse">
    <div class="title-box-d">
      <h3 class="title-d">Recherche</h3>
    </div>
    <span class="close-box-collapse right-boxed bi bi-x"></span>
    <div class="box-collapse-wrap form">
      <div class="row">
        {{form_start(search)}}
        {{form_end(search)}}
      </div>
    </div>
  </div>
</div>