{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
<style>
  .form {padding:10rem; width:50%;}
</style>

<div class="form">
   <h1>Se connecter</h1>
   {{ form_start(loginForm) }}
   {{ form_widget(loginForm) }}

   <button class="btn btn-success"> Envoyer</button>
   {{form_end(loginForm)}}
</div>
{% endblock %}
