{% extends 'base.html.twig' %}

{% block title %}Bien Etre - Catégorie de services{% endblock %}

{% block body %}
    <main id="main">
        {# intro single #}
        {{include('categorie/partials/_intro_single.html.twig')}}
    </main>
{% endblock %}
